  <div class=' top_banner row'>
    <div style='margin:0vw 13vw 0vw 13vw'>
      <h3 class='text-center'><b>WELCOME TO IPO</b></h3><BR>
      <h4 class='text-center top-words'>WE SEED ARTISTS AND CONSUMERS WITH CREATIVE BRANDING, STRATEGIC MARKETING + UNBELIEVABLE EXPERIENCES</h4>
      <h4 class='text-center top-words'><B>IPO</B> INVESTS AND BELIEVES IN ARTISTS + IDEAS BEFORE THEY ARE PRESENTED AND OFFERED TO THE PUBLIC.</h4>
      <h4 class='text-center'><B>INITIAL. PUBLIC. OFFERING</B></h4><BR>
    </div>
  </div>
  <hr>
  <div class='row text-center'>
    <h4><b>INVEST EARLY</b></h4>
    <%=image_tag('hand_cash.png', :class =>'center', :alt =>'home logo', :style =>'width:100px')%>
    <H6><b>"PRICE WENT UP"</b></H6>
  </div>
  <div class=' middle_banner row'>
    <div style='margin:1vw 7vw 2vw -5vw'>
      <div class='col-md-3 def'>
        <h5 class='text-center'id='def_word'>DEFINTION</h5>
        <i style='margin:4vw'>An initial public offering, </i>
        <i style='margin:4vw'> or IPO, is the process of a privately </i>
        <i style='margin:4vw'>  held entity "going public".</i>
      </div>
      <div class='col-sm-6' style='margin-left:8vw'>
        <%=image_tag('bull.png', :class =>'center', :alt =>'home logo', :style =>'width:120px;float:right')%>
        <h4><B>MISSION STATEMENT</B></H4>
        <h4>WE BELIEVE IN PEOPLE BEFORE PEOPLE BELIEVE IN PEOPLE. CREATIVES COME TO <B>IPO</B> TO SEE THEIR STOCK GO UP. WE INVEST IN THEM BEFORE EVERYONE ELSE DOES</H4>
      </div>
    </div>
  </div>
  <div style='margin:4vw 20vw 4vw 20vw;'class='row'>
    <a class='black-btn' style='font-size:1.5em;padding:10px;float:right' href='/login'>LOGIN</a>
    <h4><b>START MANAGING YOUR ARTISTS NOW!</b></h4>
    <br>
  </div>
<style>

.top-words{
  line-height:1.5em
}
.top_banner{
  width:100%;
}
#def_word{
  background-color:black;
  color:white;
  padding:10px;
}
</style>
